
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/user/Views/Shared/_LayoutPage1.cshtml";
}

<section class="about" id="appointment">
    <div class="container">
        <h2>appointment</h2>
        <div class="about-grids">
            <div class="col-md-3 col-sm-3 col-xs-3 abt-lt-grid text-center">
                <h4>our timing</h4>
                <p>Monday-Saturday</p>
                <p>7am-10pm</p>
                <p>Sunday(no appointment)</p>
                <p class="ma-p"><i class="fa fa-phone" aria-hidden="true"></i>+16 33 44 2345</p>

            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 abt-rt-grid">
                <div class="w3ls-grid-head text-center">
                    <h6>appointment</h6>
                    <h3>online booking</h3>
                </div>
                <div class="abt-form text-center">
                    <form action="#" method="post">
                        <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                            <div class="w3ls-pr">
                                <input type="text" name="Division" placeholder="Division" required="required">
                                <input type="text" name="Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                            <div class="w3ls-pr">
                                <input type="date" name="date" required="required">
                                <input type="tel" name="phone no" placeholder="Phone no" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 w3ls-lt-form">
                            <div class="w3ls-pr">
                                <input type="time" name="time" required="required">
                                <input type="email" name="email" placeholder="Email" required="required">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <input type="submit" value="Book Now">

                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!--//about-section-end-here-->
<!-- /services -->
<div class="agile_secives jarallax" id="services">
    <div class="container">
        <h3>What we Do</h3>
        <div class="markets-grids">
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Emergency Unit</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Emergency Help</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Health Care</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Research</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Lab Test Reports</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Visiting Hours</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat..</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!--team-section-end-here-->
<section class="team" id="staff">
    <div class="container">
        <h3>staff </h3>
        <div class="agile-team-grids">
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t1.jpg" alt="image" class="img-responsive" />
                    <h4>williamson</h4>
                    <h5>director</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t2.jpg" alt="image" class="img-responsive" />
                    <h4>fisher</h4>
                    <h5>Nurse</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t3.jpg" alt="image" class="img-responsive" />
                    <h4>jesse</h4>
                    <h5>co.director</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t4.jpg" alt="image" class="img-responsive" />
                    <h4>riley</h4>
                    <h5>doctor</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t5.jpg" alt="image" class="img-responsive" />
                    <h4>olivia</h4>
                    <h5>nurse</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t6.jpg" alt="image" class="img-responsive" />
                    <h4>patrick</h4>
                    <h5>doctor</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t7.jpg" alt="image" class="img-responsive" />
                    <h4>garrett</h4>
                    <h5>doctor</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 agile-w3ls">
                <div class="team-grid text-center">
                    <img src="~/Areas/user/web/images/t8.jpg" alt="image" class="img-responsive" />
                    <h4>alvarez</h4>
                    <h5>nurse</h5>
                    <div class="social-icons-tm">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!--//team-section-end-here-->
<section class="grid-gallery" id="grid-gallery">
    <div class="container">
        <h3 class="title text-center">Lab</h3>
        <section class="grid-wrap">
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l1.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l1.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l2.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l2.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l3.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid project_icon">
                        <img src="~/Areas/user/web/images/l3.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l4.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l4.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l5.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid project_icon">
                        <img src="~/Areas/user/web/images/l5.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l6.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l6.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l7.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l7.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l8.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l8.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l9.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l9.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l10.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l10.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l11.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l11.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="col-md-3 agileinfo_portfolio_grid">
                <a href="images/l12.jpg" class="lsb-preview" data-lsb-group="header">
                    <div class="agileits_portfolio_grid">
                        <img src="~/Areas/user/web/images/l12.jpg" alt=" " class="img-responsive" />
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>

        </section>
        <!-- // grid-wrap -->
    </div>

</section>
<!-- //laboratory-section -->
<!--testimonial-section-starts-here -->
<section class="testimonial jarallax">
    <div class="container">
        <h3>testimonial</h3>
        <div class="testi-grid">
            <div class="col-md-6 col-sm-6 col-xs-6 w3ls-text-grid">
                <h4>our staff believe our work and good humanity</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 fslider-grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="testi-w3ls text-center">
                                <div class="testi-text">
                                    <p>
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris consectetur
                                        nisl hendrerit dapibus bibendum. Mauris in purus fringilla, bibendum dui vel, mattis arcu.
                                    </p>
                                </div>
                                <div class="testi-img">
                                    <img src="~/Areas/user/web/images/ts1.jpg" alt="images" />
                                    <h5>Angle</h5>
                                    <h6>subtitle</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="testi-w3ls text-center">
                                <div class="testi-text">
                                    <p>
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris consectetur
                                        nisl hendrerit dapibus bibendum. Mauris in purus fringilla, bibendum dui vel, mattis arcu.
                                    </p>
                                </div>
                                <div class="testi-img">
                                    <img src="~/Areas/user/web/images/ts2.jpg" alt="images" />
                                    <h5>Jesse</h5>
                                    <h6>subtitle</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="testi-w3ls text-center">
                                <div class=" testi-text">
                                    <p>
                                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris consectetur
                                        nisl hendrerit dapibus bibendum. Mauris in purus fringilla, bibendum dui vel, mattis arcu.
                                    </p>
                                </div>
                                <div class="testi-img">
                                    <img src="~/Areas/user/web/images/ts3.jpg" alt="images" />
                                    <h5>Rosse lee</h5>
                                    <h6>subtitle</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial-section-end-here -->
<!--contact-section-end-here-->
<section class="contact-map" id="contact">
    <div class="container">
        <div class="w3ls-con-map-main-grids">
            <div class="col-md-6">
                <div class="w3ls-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24561.4917541168!2d-74.26553697858265!3d39.69051118517855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c107b00044297b%3A0x9354ddfde6a7883b!2sManahawkin%2C+Stafford+Township%2C+NJ+08050%2C+USA!5e0!3m2!1sen!2sin!4v1486031546252"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wthree-contact-left-grid">
                    <div class="contact-head">
                        <h4>contact us </h4>
                        <div class="information">
                            <ul class="agile-inf">
                                <li><i class="fa fa-home" aria-hidden="true"></i>11/665 postal street, park avenue,USA</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+040 6656 776 665</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a class="w3ls-a" href="mailto:example@email.com"> mail@example.com</a></li>
                                <li><i class="fa fa-globe" aria-hidden="true"></i><a class="w3ls-a" href="mailto:example@email.com">www.example.com</a></li>
                            </ul>
                        </div>

                        <div class="contact-form-w3ls">
                            <form action="#" method="post">
                                <div class="col-sm-6 col-xs-6 w3ls-ma">
                                    <input type="text" placeholder="Name" required="required" />
                                </div>
                                <div class="col-sm-6 col-xs-6 w3l-ma">
                                    <input type="email" placeholder="E-mail" required="required" />
                                </div>
                                <div class="clearfix"></div>
                                <textarea placeholder="Message" required="required"></textarea>
                                <input type="submit" value="send" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</section>
<!--//contact-section-end-here-->
